deactivate.json
[
    {
        "id": "f5a28326.4938a8",
        "type": "subflow",
        "name": "DeactivateObject",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 30,
                "y": 320,
                "wires": [
                    {
                        "id": "16cc46ef.8e9901"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 400,
                "wires": [
                    {
                        "id": "54b59b2f.4d399c",
                        "port": 0
                    }
                ]
            }
        ],
        "env": []
    },
    {
        "id": "a133373d.db9ba8",
        "type": "switch",
        "z": "f5a28326.4938a8",
        "name": "Where?",
        "property": "payload.intent.slots_by_name.deviceLocation[0].rawValue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "b端ro",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "buero",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "flur",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "k端che",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "kueche",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "schlafzimmer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wohnung",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wohnzimmer",
                "vt": "str"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 9,
        "x": 460,
        "y": 260,
        "wires": [
            [
                "67a14968.eeb58"
            ],
            [
                "67a14968.eeb58"
            ],
            [
                "39a0b059.f2793"
            ],
            [
                "a6c127ee.531c2"
            ],
            [
                "a6c127ee.531c2"
            ],
            [
                "8fc6e69b.aa9f5"
            ],
            [
                "12d06414.2bdbec"
            ],
            [
                "4f5315fe.f65c74"
            ],
            [
                "269b28dd.03d208"
            ]
        ]
    },
    {
        "id": "69c0468a.a8b28",
        "type": "switch",
        "z": "f5a28326.4938a8",
        "name": "What?",
        "property": "payload.intent.slots_by_name.device[0].rawValue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "licht",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Heizung",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 220,
        "y": 320,
        "wires": [
            [
                "a133373d.db9ba8"
            ],
            []
        ]
    },
    {
        "id": "67a14968.eeb58",
        "type": "api-call-service",
        "z": "f5a28326.4938a8",
        "name": "B端ro",
        "server": "50f3d715.0b2c68",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppebuero\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 625,
        "y": 170,
        "wires": [
            [
                "39dd60d.92e7ea"
            ]
        ],
        "l": false
    },
    {
        "id": "39a0b059.f2793",
        "type": "api-call-service",
        "z": "f5a28326.4938a8",
        "name": "Flur",
        "server": "50f3d715.0b2c68",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppeflur\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 625,
        "y": 200,
        "wires": [
            [
                "39dd60d.92e7ea"
            ]
        ],
        "l": false
    },
    {
        "id": "a6c127ee.531c2",
        "type": "api-call-service",
        "z": "f5a28326.4938a8",
        "name": "K端che",
        "server": "50f3d715.0b2c68",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppekueche\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 625,
        "y": 230,
        "wires": [
            [
                "39dd60d.92e7ea"
            ]
        ],
        "l": false
    },
    {
        "id": "8fc6e69b.aa9f5",
        "type": "api-call-service",
        "z": "f5a28326.4938a8",
        "name": "Schlafzimmer",
        "server": "50f3d715.0b2c68",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppeschlafzimmer\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 625,
        "y": 290,
        "wires": [
            [
                "39dd60d.92e7ea"
            ]
        ],
        "l": false
    },
    {
        "id": "12d06414.2bdbec",
        "type": "api-call-service",
        "z": "f5a28326.4938a8",
        "name": "Wohnung",
        "server": "50f3d715.0b2c68",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppebuero, light.gruppeflur, light.gruppekueche, light.gruppeschlafzimmer, light.gruppewohnzimmer\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 625,
        "y": 320,
        "wires": [
            [
                "39dd60d.92e7ea"
            ]
        ],
        "l": false
    },
    {
        "id": "4f5315fe.f65c74",
        "type": "api-call-service",
        "z": "f5a28326.4938a8",
        "name": "Wohnzimmer",
        "server": "50f3d715.0b2c68",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppewohnzimmer\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 625,
        "y": 350,
        "wires": [
            [
                "39dd60d.92e7ea"
            ]
        ],
        "l": false
    },
    {
        "id": "54b59b2f.4d399c",
        "type": "function",
        "z": "f5a28326.4938a8",
        "name": "Ask for Room",
        "func": "var text = msg.payload; \nvar id= msg.payload.sessionId\nvar new_msg = {};\nvar intend = msg.payload.intent.slots_by_name\nvar custom_data = JSON.stringify(intend);\nnew_msg.payload = {};\nnew_msg.payload[\"customData\"] = custom_data;\nnew_msg.payload[\"sessionId\"] = id;\nnew_msg.payload[\"init\"] = \"action\";\nnew_msg.payload[\"text\"] = \"Wo?\";\nnew_msg.payload[\"intentFilter\"] = [\"aluavin:DeactivateObject\"];\nnew_msg.payload[\"lang\"] = \"de\";\nmsg = new_msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 715,
        "y": 400,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "39dd60d.92e7ea",
        "type": "function",
        "z": "f5a28326.4938a8",
        "name": "erstelle_say",
        "func": "var payload = msg.payload; \nvar entity= payload.intent.slots_by_name.device[0].rawValue;\nvar ort= payload.intent.slots_by_name.deviceLocation[0].rawValue;\nvar id= msg.payload.sessionId;\nvar intend = msg.payload.intend\nvar new_msg = {};\nvar custom_data = JSON.stringify(intend);\nnew_msg.payload = {};\nnew_msg.payload[\"siteId\"] = ort;\nnew_msg.payload[\"sessionId\"] = id;\nnew_msg.payload[\"intentFilter\"] = [\"aluavin:Continue\"];\nnew_msg.payload[\"text\"] = \"Licht aus im \" + ort;\nnew_msg.payload[\"customData\"] = custom_data;\nmsg = new_msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 715,
        "y": 260,
        "wires": [
            [
                "c5b5a3a2.40fb6"
            ]
        ],
        "l": false
    },
    {
        "id": "16cc46ef.8e9901",
        "type": "function",
        "z": "f5a28326.4938a8",
        "name": "slots",
        "func": "// Create a map of intent slots grouped by slotName.\n// Only include those we are at least 40% confident.\n// Elements are arrays of slots to deal with mulltiples.\n// e.g. {\"switchLocation\": [{\"rawValue\": \"bedroom\"}, \"rawValue\": \"office\"}]\n// It is up to downstream to decide if it can deal with any multiples or\n// insuficient slots.\n//\n// Check customData to see if this is a continued turn i.e. we got some slots\n// before and we are filling in.\nconst slots = msg.payload[\"slots\"];\nconst customData = msg.payload[\"customData\"]\nconst continuedIntent = customData !== null;\n// TODO: This will merge slots if intent is changed during a contintueSession\nnode.status({fill:\"grey\", shape:\"dot\", text: \"continued? \" + continuedIntent});\nvar by_name = {};\nif (continuedIntent === true) {\n    by_name = JSON.parse(customData);\n}\nfor (var i in slots) {\n    slot = slots[i];\n    if (slot.confidenceScore >= 0.40) {\n        list = by_name[slot.slotName] || [];\n        list.push(slot);\n        by_name[slot.slotName] = list;\n    }\n}\n    \nmsg.intent.slots_by_name = by_name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 105,
        "y": 320,
        "wires": [
            [
                "69c0468a.a8b28"
            ]
        ],
        "l": false
    },
    {
        "id": "2174fb72.760d2c",
        "type": "comment",
        "z": "f5a28326.4938a8",
        "name": "Restructure the Message",
        "info": "",
        "x": 210,
        "y": 220,
        "wires": []
    },
    {
        "id": "c5b5a3a2.40fb6",
        "type": "mqtt out",
        "z": "f5a28326.4938a8",
        "name": "hermes/dialogueManager/endSession",
        "topic": "hermes/dialogueManager/endSession",
        "qos": "2",
        "retain": "",
        "broker": "c7598dc2.56c888",
        "x": 910,
        "y": 260,
        "wires": []
    },
    {
        "id": "c1ba2e51.5cd308",
        "type": "change",
        "z": "f5a28326.4938a8",
        "name": "siteID => device_location",
        "rules": [
            {
                "t": "set",
                "p": "payload.intent.slots_by_name.deviceLocation[0].rawValue",
                "pt": "msg",
                "to": "payload.siteId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 810,
        "y": 440,
        "wires": [
            [
                "6c0bcbfd.f3ba64"
            ]
        ]
    },
    {
        "id": "269b28dd.03d208",
        "type": "switch",
        "z": "f5a28326.4938a8",
        "name": "",
        "property": "payload.siteId",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "default",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "default",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 625,
        "y": 400,
        "wires": [
            [
                "54b59b2f.4d399c"
            ],
            [
                "c1ba2e51.5cd308"
            ]
        ],
        "l": false
    },
    {
        "id": "6c0bcbfd.f3ba64",
        "type": "link out",
        "z": "f5a28326.4938a8",
        "name": "",
        "links": [
            "c962427a.72a998"
        ],
        "x": 985,
        "y": 440,
        "wires": []
    },
    {
        "id": "c962427a.72a998",
        "type": "link in",
        "z": "f5a28326.4938a8",
        "name": "",
        "links": [
            "6c0bcbfd.f3ba64"
        ],
        "x": 125,
        "y": 380,
        "wires": [
            [
                "69c0468a.a8b28"
            ]
        ]
    },
    {
        "id": "50f3d715.0b2c68",
        "type": "server",
        "z": "",
        "name": "Home Assistant_columbus",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true
    },
    {
        "id": "c7598dc2.56c888",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "192.168.178.3",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
