deactivate.json
[
    {
        "id": "244bcf43.3f86b8",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9598e32a.e6941",
        "type": "switch",
        "z": "244bcf43.3f86b8",
        "name": "Where?",
        "property": "payload.intent.slots_by_name.deviceLocation[0].rawValue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "b端ro",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "flur",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "k端che",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "schlafzimmer",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wohnung",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "wohnzimmer",
                "vt": "str"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 7,
        "x": 430,
        "y": 290,
        "wires": [
            [
                "ce98ed24.81b008"
            ],
            [
                "92333f85.89bbd"
            ],
            [
                "267c0b97.411dcc"
            ],
            [
                "7de39e08.c859f"
            ],
            [
                "8bf16653.091b3"
            ],
            [
                "122e8f7e.596269"
            ],
            [
                "5ef2d751.6d3cd"
            ]
        ]
    },
    {
        "id": "d328b910.5fc7c8",
        "type": "switch",
        "z": "244bcf43.3f86b8",
        "name": "What?",
        "property": "payload.intent.slots_by_name.device[0].rawValue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "licht",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Heizung",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 350,
        "wires": [
            [
                "9598e32a.e6941"
            ],
            []
        ]
    },
    {
        "id": "ce98ed24.81b008",
        "type": "api-call-service",
        "z": "244bcf43.3f86b8",
        "name": "B端ro",
        "server": "18b877af.344b38",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppebuero\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 595,
        "y": 200,
        "wires": [
            [
                "8e564e27.557f1"
            ]
        ],
        "l": false
    },
    {
        "id": "92333f85.89bbd",
        "type": "api-call-service",
        "z": "244bcf43.3f86b8",
        "name": "Flur",
        "server": "18b877af.344b38",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppeflur\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 595,
        "y": 230,
        "wires": [
            [
                "8e564e27.557f1"
            ]
        ],
        "l": false
    },
    {
        "id": "267c0b97.411dcc",
        "type": "api-call-service",
        "z": "244bcf43.3f86b8",
        "name": "K端che",
        "server": "18b877af.344b38",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppekueche\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 595,
        "y": 260,
        "wires": [
            [
                "8e564e27.557f1"
            ]
        ],
        "l": false
    },
    {
        "id": "7de39e08.c859f",
        "type": "api-call-service",
        "z": "244bcf43.3f86b8",
        "name": "Schlafzimmer",
        "server": "18b877af.344b38",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppeschlafzimmer\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 595,
        "y": 320,
        "wires": [
            [
                "8e564e27.557f1"
            ]
        ],
        "l": false
    },
    {
        "id": "8bf16653.091b3",
        "type": "api-call-service",
        "z": "244bcf43.3f86b8",
        "name": "Wohnung",
        "server": "18b877af.344b38",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppebuero, light.gruppeflur, light.gruppekueche, light.gruppeschlafzimmer, light.gruppewohnzimmer\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 595,
        "y": 350,
        "wires": [
            [
                "8e564e27.557f1"
            ]
        ],
        "l": false
    },
    {
        "id": "122e8f7e.596269",
        "type": "api-call-service",
        "z": "244bcf43.3f86b8",
        "name": "Wohnzimmer",
        "server": "18b877af.344b38",
        "service_domain": "light",
        "service": "turn_off",
        "data": "{\"entity_id\":\"light.gruppewohnzimmer\"}",
        "mergecontext": "",
        "output_location": "",
        "output_location_type": "none",
        "mustacheAltTags": false,
        "x": 595,
        "y": 380,
        "wires": [
            [
                "8e564e27.557f1"
            ]
        ],
        "l": false
    },
    {
        "id": "5ef2d751.6d3cd",
        "type": "function",
        "z": "244bcf43.3f86b8",
        "name": "Ask for Room",
        "func": "var text = msg.payload; \nvar id= msg.payload.sessionId\nvar new_msg = {};\nvar intend = msg.payload.intent.slots_by_name\nvar custom_data = JSON.stringify(intend);\nnew_msg.payload = {};\nnew_msg.payload[\"customData\"] = custom_data;\nnew_msg.payload[\"sessionId\"] = id;\nnew_msg.payload[\"init\"] = \"action\";\nnew_msg.payload[\"text\"] = \"Wo?\";\nnew_msg.payload[\"intentFilter\"] = [\"aluavin:DeactivateObject\"];\nnew_msg.payload[\"lang\"] = \"de\";\nmsg = new_msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 595,
        "y": 480,
        "wires": [
            [
                "286570f9.1ace38"
            ]
        ],
        "l": false
    },
    {
        "id": "8e564e27.557f1",
        "type": "function",
        "z": "244bcf43.3f86b8",
        "name": "erstelle_say",
        "func": "var payload = msg.payload; \nvar entity= payload.intent.slots_by_name.device[0].rawValue;\nvar ort= payload.intent.slots_by_name.deviceLocation[0].rawValue;\nvar id= msg.payload.sessionId;\nvar intend = msg.payload.intend\nvar new_msg = {};\nvar custom_data = JSON.stringify(intend);\nnew_msg.payload = {};\nnew_msg.payload[\"siteId\"] = ort;\nnew_msg.payload[\"sessionId\"] = id;\nnew_msg.payload[\"intentFilter\"] = [\"aluavin:Continue\"];\nnew_msg.payload[\"text\"] = \"Lich aus im \" + ort;\nnew_msg.payload[\"customData\"] = custom_data;\nmsg = new_msg;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 685,
        "y": 290,
        "wires": [
            [
                "bf3c0ce9.85aa2"
            ]
        ],
        "l": false
    },
    {
        "id": "e74a1572.73396",
        "type": "function",
        "z": "244bcf43.3f86b8",
        "name": "slots",
        "func": "// Create a map of intent slots grouped by slotName.\n// Only include those we are at least 40% confident.\n// Elements are arrays of slots to deal with mulltiples.\n// e.g. {\"switchLocation\": [{\"rawValue\": \"bedroom\"}, \"rawValue\": \"office\"}]\n// It is up to downstream to decide if it can deal with any multiples or\n// insuficient slots.\n//\n// Check customData to see if this is a continued turn i.e. we got some slots\n// before and we are filling in.\nconst slots = msg.payload[\"slots\"];\nconst customData = msg.payload[\"customData\"]\nconst continuedIntent = customData !== null;\n// TODO: This will merge slots if intent is changed during a contintueSession\nnode.status({fill:\"grey\", shape:\"dot\", text: \"continued? \" + continuedIntent});\nvar by_name = {};\nif (continuedIntent === true) {\n    by_name = JSON.parse(customData);\n}\nfor (var i in slots) {\n    slot = slots[i];\n    if (slot.confidenceScore >= 0.40) {\n        list = by_name[slot.slotName] || [];\n        list.push(slot);\n        by_name[slot.slotName] = list;\n    }\n}\n    \nmsg.intent.slots_by_name = by_name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 85,
        "y": 350,
        "wires": [
            [
                "d328b910.5fc7c8"
            ]
        ],
        "l": false
    },
    {
        "id": "4c44e4eb.ca863c",
        "type": "comment",
        "z": "244bcf43.3f86b8",
        "name": "Restructure the Message",
        "info": "",
        "x": 180,
        "y": 250,
        "wires": []
    },
    {
        "id": "bf3c0ce9.85aa2",
        "type": "mqtt out",
        "z": "244bcf43.3f86b8",
        "name": "hermes/dialogueManager/endSession",
        "topic": "hermes/dialogueManager/endSession",
        "qos": "2",
        "retain": "",
        "broker": "b81ccd5b.97c33",
        "x": 745,
        "y": 290,
        "wires": [],
        "l": false
    },
    {
        "id": "e7734acd.842b48",
        "type": "comment",
        "z": "244bcf43.3f86b8",
        "name": "Install:",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "a06751fb.602ad",
        "type": "comment",
        "z": "244bcf43.3f86b8",
        "name": "Edit the MQTT Nodes to use your MQTT Broker",
        "info": "",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "128f963a.e97cc2",
        "type": "comment",
        "z": "244bcf43.3f86b8",
        "name": "Edit the Call-Service Nodes to use your Home Assistant",
        "info": "",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "286570f9.1ace38",
        "type": "mqtt out",
        "z": "244bcf43.3f86b8",
        "name": "hermes/dialogueManager/continueSession",
        "topic": "hermes/dialogueManager/continueSession",
        "qos": "2",
        "retain": "",
        "broker": "b81ccd5b.97c33",
        "x": 655,
        "y": 480,
        "wires": [],
        "l": false
    },
    {
        "id": "70afa362.91d3ec",
        "type": "comment",
        "z": "244bcf43.3f86b8",
        "name": "Continue to as where?",
        "info": "",
        "x": 790,
        "y": 480,
        "wires": []
    },
    {
        "id": "18b877af.344b38",
        "type": "server",
        "z": "",
        "name": "<Insert your Server here>",
        "legacy": false,
        "hassio": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open"
    },
    {
        "id": "b81ccd5b.97c33",
        "type": "mqtt-broker",
        "z": "",
        "name": "< insert your mqtt server here>",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
